name: Tests

on:
  pull_request:
  push:
    branches: [main]
  merge_group:

jobs:

  packaging:
    name: Python packaging
    uses: tskit-dev/.github/.github/workflows/python-packaging.yml@main
    with:
      pyproject-directory: python
      cli-test-cmd: kastore --help

  test-c:
    name: C tests
    uses: tskit-dev/.github/.github/workflows/c-tests.yml@main
    with:
      library-directory: c
    secrets: inherit

  test-python-c:
    name: Python-C tests
    uses: tskit-dev/.github/.github/workflows/python-c-tests.yml@main
    with:
      tests: python/tests/test_python_c.py
      pyproject-directory: python
    secrets: inherit

  test:
    name: Python
    uses: tskit-dev/.github/.github/workflows/python-tests.yml@main
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python }}
      pyproject-directory: python
      coverage-directory: python/kastore
    secrets: inherit
    strategy:
      matrix:
        python: [ 3.11, 3.14 ]
        os:  [ macos-latest, ubuntu-24.04, windows-latest ]
