name: Tests

on:
  pull_request:
  push:
    branches: [main]
  merge_group:

jobs:

  packaging:
    name: Python packaging
    uses: tskit-dev/.github/.github/workflows/python-packaging.yml@v10
    with:
      working-directory: python
      cli-test-cmd: kastore --help

  test-c:
    name: C tests
    uses: tskit-dev/.github/.github/workflows/c-tests.yml@main
    with:
      library-directory: c
    secrets: inherit

  test-python-c:
    name: Python-C tests
    uses: tskit-dev/.github/.github/workflows/python-c-tests.yml@main
    with:
      pyproject-directory: python
    secrets: inherit

  test:
    name: Python
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: [ 3.11, 3.13 ]
        os:  [ macos-latest, ubuntu-24.04, windows-latest ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python }}
          version: "0.8.15"

      - name: Install Python dependencies
        working-directory: ./python
        run: uv sync --locked --group test --no-default-groups

      - name: Run tests
        working-directory: ./python
        run: uv run --no-default-groups pytest --cov=kastore --cov-report=xml --cov-branch -n2

